<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="品质稽核系统">
    <meta name="keywords" content="品质稽核系统">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>
        @RenderSection("title", false)
    </title>
    <script src="/!/js"></script>
    <link rel="text/css" href="/!/css" />
    @*<link href="/!/pack/layui/css/layui.css" rel="stylesheet" />
        <script src="/!/pack/layui/layui.js"></script>*@
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()
    <script>
    </script>
</body>
</html>