@{
    Layout = "/!/QualityAuditBase.cshtml";

}
@section title{
    这是标题用户首页
}
@section head{
    <link href="/!/pack/layui/css/layui.css" rel="stylesheet" />
    <script src="/!/pack/layui/layui.js"></script>

}

<div class="layui-anim layui-anim-up">这是用户首页</div>